In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [5]:
df = pd.read_csv('covid_toy.csv')

In [7]:
df.head(10)

   age  gender  fever   cough       city has_covid
0   60    Male  103.0    Mild    Kolkata        No
1   27    Male  100.0    Mild      Delhi       Yes
2   42    Male  101.0    Mild      Delhi        No
3   31  Female   98.0    Mild    Kolkata        No
4   65  Female  101.0    Mild     Mumbai        No
5   84  Female    NaN    Mild  Bangalore       Yes
6   14    Male  101.0  Strong  Bangalore        No
7   20  Female    NaN  Strong     Mumbai       Yes
8   19  Female  100.0  Strong  Bangalore        No
9   64  Female  101.0    Mild      Delhi        No

In [11]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [12]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns =['has_covid']),df['has_covid'],test_size=0.2)

In [14]:
x_train

    age  gender  fever   cough       city
93   27    Male  100.0    Mild    Kolkata
67   65    Male   99.0    Mild  Bangalore
99   10  Female   98.0  Strong    Kolkata
25   23    Male    NaN    Mild     Mumbai
97   20  Female  101.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
29   34  Female    NaN  Strong     Mumbai
37   55    Male  100.0    Mild    Kolkata
76   80    Male  100.0    Mild  Bangalore
90   59  Female   99.0  Strong      Delhi
77    8  Female  101.0    Mild    Kolkata

[80 rows x 5 columns]

In [15]:
from sklearn.compose import ColumnTransformer

In [25]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(), ['fever']),
    ('tnf2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
    ('tnf3', OneHotEncoder(sparse_output=False, drop='first'), ['gender', 'city'])
], remainder='passthrough')

In [30]:
transformer.fit_transform(x_train).shape

(80, 7)

In [29]:
transformer.transform(x_test).shape

(20, 7)